In [2]:
import numpy as np
from scipy.stats import *
import pandas as pd

In [3]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity="all"

## ë°ì´í„°ê°€ ì–¼ë§ˆë‚˜ í¼ì ¸ ìˆëŠ”ì§€ : ë³€ì´ í†µê³„ëŸ‰

- ë°ì´í„°ë“¤ì´ ì–¼ë§ˆë‚˜ í©ì–´ì ¸ ìˆëŠ”ê°€ë¥¼ ë‚˜íƒ€ë‚´ëŠ” ê²ƒ(ì‚°í¬ë„)
- í•˜ë‚˜ì˜ ìˆ˜ì¹˜ë¡œ ë°ì´í„°ê°€ í©ì–´ì§„ ì •ë„ë¥¼ ê³„ì‚° 
- ëŒ€í‘œê°’ê³¼ ë”ë¶ˆì–´ ë°ì´í„°ë¥¼ ë¹„êµí•˜ëŠ” ê²½ìš°ì— ìœ ìš©í•˜ê²Œ ì‚¬ìš© 
- ì˜ˆ. í‰ê· ì´ ê°™ì€ Aì™€ Bë°˜ì˜ ì„±ì  : ë‘ ì§‘ë‹¨ì´ ë™ì¼í•œ ì§‘ë‹¨?

![](ì„±ì ë¶„í¬ë¹„êµ.png)

- ì–´ëŠ ëŒ€í•™ì—ì„œ ê°™ì€ ê³¼ëª©ì„ ë‘ êµìˆ˜ê°€ ê°€ë¥´ì¹œë‹¤ê³  í•˜ì.ë‘ êµìˆ˜ ëª¨ë‘ í‰ê·  Cí•™ì ì„ í•™ìƒë“¤ì—ê²Œ ì¤€ë‹¤ë©´ ê·¸ ê³¼ëª©ì„ ë°°ìš°ë ¤ëŠ” í•™ìƒë“¤ì€ ì–´ë–¤ êµìˆ˜ë¥¼ ì„ íƒí•´ë„ ë§ˆì°¬ê°€ì§€ë¼ê³  ìƒê°í•  ê²ƒì´ë‹¤.
- ê·¸ëŸ¬ë‚˜ í•œ êµìˆ˜ëŠ” ëŒ€ë¶€ë¶„ì˜ í•™ìƒë“¤ì´ í‰ë²”í•˜ë‹¤ê³  ìƒê°í•˜ì—¬ Cë§Œ ì£¼ê³  ë‹¤ë¥¸ êµìˆ˜ëŠ” í•™ìƒë“¤ì´ ë°˜ì€ ìš°ìˆ˜í•˜ê³  ë°˜ì€ ê³µë¶€ë¥¼ ì•ˆ í•œë‹¤ê³  ìƒê°í•˜ì—¬ Aë¥¼ ì£¼ê±°ë‚˜ D-ë§Œ ì¤€ë‹¤.
- ê·¸ëŸ¬ë¯€ë¡œ ì´ëŸ¬í•œ í©ì–´ì§ì˜ ì •ë³´ ì—†ì´ í•™ìƒë“¤ì´ í‰ê·  ì„±ì  Cë¼ëŠ” ì‚¬ì‹¤ë§Œ ê°€ì§€ê³  êµìˆ˜ë¥¼ ì„ íƒí•œë‹¤ë©´ í•™ì  ë•Œë¬¸ì— ì–´ë ¤ì›€ì— ì²˜í•  ìˆ˜ë„ ìˆê²Œ ëœë‹¤.

#### ë²”ìœ„(range)

- ë°ì´í„°ì˜ ìµœëŒ€ê°’ê³¼ ìµœì†Œê°’ì˜ ì°¨ì´
- ë°ì´í„°ê°€ í¼ì ¸ ìˆëŠ” ì •ë„ë¥¼ ë‚˜íƒ€ë‚´ëŠ” ê°€ì¥ ê°„ë‹¨í•œ ë°©ë²•
- ë²”ìœ„ê°€ í´ìˆ˜ë¡ ì‚°í¬ê°€ í¬ë‹¤ê³  ë§í•  ìˆ˜ ìˆì§€ë§Œ
- ì¤‘ì•™ê°’ê³¼ ë§ˆì°¬ê°€ì§€ë¡œ ê·¹ë‹¨ì ì¸ ê°’ì— ì˜í–¥ì„ ë°›ìŒ
- ë°ì´í„° ì¤‘ 2ê°œì˜ ì •ë³´(ìµœëŒ€ê°’, ìµœì†Œê°’)ë§Œì„ ì´ìš©í•˜ë¯€ë¡œ ì ì ˆí•œ ì²™ë„ë¡œ ì‚¬ìš©í•˜ê¸° ì–´ë ¤ì›€

**ë²”ìœ„(R)=ìµœëŒ“ê°’ - ìµœì†Ÿê°’**


#### ì¤‘ê°„ ë²”ìœ„

- ìµœëŒ€ê°’ê³¼ ìµœì†Œê°’ì˜ í‰ê·

#### ì‚¬ë¶„ìœ„ê°„ ë²”ìœ„ (interquartile range: IQR)

- ë°ì´í„°ë¥¼ í¬ê¸°ìˆœì„œë¡œ ë‚˜ì—´í•œ ë‹¤ìŒ, ê°œìˆ˜ë¡œ 4ë“±ë¶„í•  ë•Œ ì²« ë²ˆì§¸ ì‚¬ë¶„ìœ„ìˆ˜(Q1:1ì‚¬ë¶„ìœ„ìˆ˜, 25%ì§€ì )ì™€ ì„¸ ë²ˆì§¸ ì‚¬ë¶„ìœ„ìˆ˜(Q3:3ì‚¬ë¶„ìœ„ìˆ˜, 75%ì§€ì )ì˜ ì°¨ì´


#### ì‚¬ë¶„ìœ„ìˆ˜ í¸ì°¨(quartile deviation)

- ë²”ìœ„ì˜ ë¬¸ì œì ì„ ë³´ì™„í•œ ì²™ë„
- ì‚¬ë¶„ìœ„ê°„ ë²”ìœ„ì˜ ê°’ì„ 2ë¡œ ë‚˜ëˆˆ ê°’ìœ¼ë¡œ ì‚¬ë¶„ìœ„ ë²”ìœ„ì˜ í‰ê· ê°’ 

![](ì‚¬ë¶„ìœ„ìˆ˜í¸ì°¨.png)

### ë¶„ì‚°(variaince)

- ì‚°í¬ë„ì˜ ì²™ë„ë¡œ ê°€ì¥ ë„ë¦¬ ì‚¬ìš©ë˜ëŠ” ë°©ë²• 
- ë°ì´í„°ê°€ í¼ì ¸ ìˆëŠ” ì •ë„ì˜ ê¸°ì¤€ìœ¼ë¡œ í‰ê· ì„ ì‚¬ìš©
- ê³„ì‚°ë°©ë²•
    - ê° ë°ì´í„°ì™€ í‰ê· ê³¼ì˜ ì°¨ì´ë¥¼ ì œê³±í•˜ì—¬ í•©í•œ ê°’ì˜ í‰ê· 
    - ë°ì´í„°ê°€ ëª¨ì§‘ë‹¨ ì „ì²´ì¼ ê²½ìš°ì—ëŠ” ë°ì´í„°ì˜ ê°œìˆ˜(n)ë¡œ ë‚˜ëˆ„ì–´ ì¤Œ
    - í‘œë³¸ì¼ ê²½ìš° (n-1)ë¡œ ë‚˜ëˆ„ì–´ ì¤Œ
    - í‘œë³¸ì˜ ê²½ìš° nìœ¼ë¡œ ë‚˜ëˆ„ì–´ ì£¼ëŠ” ê²ƒë³´ë‹¤ (n-1)ë¡œ ë‚˜ëˆ„ì–´ ì£¼ëŠ” ê²ƒì´ ë” ì¢‹ì€ ì²™ë„ê°€ ë˜ê¸° ë•Œë¬¸ì¸ë° í‘œë³¸ì˜ í¬ê¸°ê°€ í° ê²½ìš°ì—ëŠ” ë³„ ì°¨ì´ê°€ ì—†ìŒ
    
    ![](ë¶„ì‚°ì‹.png)

#### ë¶„ì‚° ê³„ì‚° : var() í•¨ìˆ˜ ì‚¬ìš©

In [4]:
## ddofì¸ìˆ˜ :  (ììœ ë„-ëª¨ìˆ˜ì§‘ë‹¨ëƒ í‘œë³¸ì´ëƒ)ëŠ” ê°’ì„ 1ë¡œ ë‘ê³  ì‚¬ìš©í•œë‹¤ê³  ìƒê°í•˜ë©´ í¸í•¨
## íŠ¹ë³„í•œ ê²½ìš° ì œì™¸í•˜ê³ ëŠ” ëª¨ë‘ sample ë°ì´í„°ì´ë¯€ë¡œ ë¶„ëª¨ë¥¼ n-1ë¡œ ë‘ 
## ì¦‰ , ddofëŠ” 1ë¡œ ë‘”ë‹¤
x = [1, 2, 3, 4, 5]

2.5
2.0
2.0

### í‘œì¤€í¸ì°¨(standard deviation)


- ê³„ì‚°ëœ ë¶„ì‚°ì˜ ì œê³±ê·¼ìœ¼ë¡œ ê³„ì‚°
- í‰ê· ì„ ì¤‘ì‹¬ìœ¼ë¡œ ì¼ì •í•œ ê±°ë¦¬ì— í¬í•¨ëœ ë°ì´í„°ì˜ ë¹„ìœ¨ì´ ì–¼ë§ˆì¸ê°€ë¥¼ ê³„ì‚°
- ëª¨ë“  ë°ì´í„°ë¥¼ ê³ ë ¤í•œ ì²™ë„


- íŠ¹ì§•
    - ëª¨ë“  ë°ì´í„°ê°€ ë™ì¼í•œ ê°’ì„ ê°–ëŠ”ë‹¤ë©´ ë¶„ì‚°ê³¼ í‘œì¤€í¸ì°¨ëŠ” 0ìœ¼ë¡œ ê³„ì‚°
    - ëª¨ë“  ë°ì´í„°ì— ë™ì¼í•œ ê°’ì„ ë”í•´ ì£¼ê±°ë‚˜ ë¹¼ë„ ë³€í•˜ì§€ ì•ŠìŒ
    - ëª¨ë“  ë°ì´í„°ì— ë™ì¼í•œ ê°’(C)ì„ ê³±í•˜ë©´ ë¶„ì‚°ì€ $ë¶„ì‚°Ã—C^2$ìœ¼ë¡œ í‘œì¤€í¸ì°¨ëŠ” $í‘œì¤€í¸ì°¨Ã—C$ ë§Œí¼ ì»¤ì§ 
    
    ![](ë¶„ì‚°í‘œì¤€í¸ì°¨ì˜ˆì‹œ.png)

#### í‘œì¤€í¸ì°¨ ê³„ì‚° : std() í•¨ìˆ˜ ì‚¬ìš©

- ë¶„ì‚°ì—ì„œì œê³±ì˜ ì˜í–¥ì„ì—†ì•¤ ì§€í‘œ
- ë¶„ì‚°ê³¼ í‘œì¤€í¸ì°¨ê°€ í¬ë©´ í´ìˆ˜ë¡ ì‚°í¬ê°€ í¬ë‹¤

In [8]:
x = [1, 2, 3, 4, 5]

1.5811388300841898
1.4142135623730951
1.5811388300841898

#### ë³€ë™ê³„ìˆ˜(CV: Coefficient of Variable)

- í‘œë³¸ í‘œì¤€í¸ì°¨ë¥¼ í‘œë³¸í‰ê· ìœ¼ë¡œ ë‚˜ëˆˆ ê°’ ë˜ëŠ” ê·¸ ê°’ì— 100ì„ ê³±í•œ ê°’
- ìƒëŒ€í‘œì¤€í¸ì°¨
- **ì„œë¡œ ë‹¤ë¥¸ í‰ê· ê³¼ í‘œì¤€í¸ì°¨ë¥¼ ê°–ëŠ” ì—¬ëŸ¬ ë°ì´í„°ì˜ í©ì–´ì§„ ì •ë„ë¥¼ ë¹„êµ**í•  ë•Œ ì‚¬ìš©
- ë³€ë™ê³„ìˆ˜ ê°’ì´ í¬ë‹¤ëŠ” ê²ƒì€ ë°ì´í„°ì˜ í©ì–´ì§„ ì •ë„ê°€ ìƒëŒ€ì ìœ¼ë¡œ í¬ë‹¤ëŠ” ì˜ë¯¸

- í‘œë³¸ ë³€ë™ê³„ìˆ˜ $ ğ¶ğ‘‰=\frac{S}{\overline{x}}$,  ëª¨ë³€ë™ê³„ìˆ˜  $ğ¶ğ‘‰= \frac{ğœ}{ğœ‡}$

![](ë³€ë™ê³„ìˆ˜.png)

#### ë³€ë™ê³„ìˆ˜ì˜ í•„ìš”ì„±
- ë³€ìˆ˜ ìŠ¤ì¼€ì¼ë§ í•œ í›„ í‘œì¤€í¸ì°¨ë¥¼ êµ¬í•¨(ë°ì´í„°ê°€ ëª¨ë‘ ì–‘ìˆ˜ì¸ ê²½ìš° ë³€ë™ê³„ìˆ˜ ì‚¬ìš©)

In [10]:
x1 = np.array([1, 2, 3, 4, 5])
x2 = x1 * 10

1.5811388300841898
15.811388300841896

In [11]:
# ë³€ë™ê³„ìˆ˜ëŠ” ë™ì¼ í•¨

0.47140452079103173
0.4714045207910317

In [12]:
# ë³€ë™ê³„ìˆ˜ ìˆ˜ì‹

0.5270462766947299
0.5270462766947299

#### ìŠ¤ì¼€ì¼ë§ (í‘œì¤€í™”)

- í‰ê·  : 0, í‘œì¤€í¸ì°¨ : 1 ì´ ë¨
- ê° ê°’ë“¤ì„ ìƒëŒ€ì ì¸ ê°’ìœ¼ë¡œ ë³€í™”ì‹œí‚¤ëŠ” ê¸°ë²•
- í‰ê· ì´ 95ì (êµ­ì–´) í‰ê· ì´ 30(ìˆ˜í•™)
- ì·¨ë“ì ìˆ˜ êµ­ì–´ 90, ìˆ˜í•™ 80 ì´ë¼ë©´ ì–´ë–¤ ê³¼ëª©ì„ ë” ì˜í•œê±´ê°€
- í‘œì¤€í™”ëœ ë°ì´í„°ëŠ” ì ìˆ˜ì™€ ê°™ì€ ë‹¨ìœ„ë¥¼ ì‚¬ìš©í•˜ì§€ ì•ŠëŠ”ë‹¤

In [13]:
x1

array([1, 2, 3, 4, 5])

In [14]:
x2

array([10, 20, 30, 40, 50])

In [15]:
# standard scaling - í‰ê· ì´ 0 í‘œì¤€í¸ì°¨ê°€ 1ì´ ë¨



print(z1)
print(z2) # ë³´í†µ -3ì—ì„œ +3 ê¹Œì§€ ë¶„í¬ ë¨

[-1.41421356 -0.70710678  0.          0.70710678  1.41421356]
[-1.41421356 -0.70710678  0.          0.70710678  1.41421356]

0.0
0.9999999999999999

#### í‘œì¤€í™” ì˜ˆì œ

In [4]:
df = pd.read_csv('../data/ch2_scores_em.csv',
                 index_col='student number')
# dfì˜ ì²˜ìŒ 5í–‰ì„ í‘œì‹œ
df.head()

                english  mathematics
student number
1                    42           65
2                    69           80
3                    56           63
4                    41           63
5                    57           76

In [5]:
scores = df.loc[1:10]
scores.index=['A', 'B', 'C', 'D', 'E','F', 'G', 'H', 'I', 'J']
scores.index.name='students'

In [6]:
scores
scores.mean()
scores.std()

          english  mathematics
students
A              42           65
B              69           80
C              56           63
D              41           63
E              57           76
F              48           60
G              65           81
H              49           66
I              65           78
J              58           82

english        55.0
mathematics    71.4
dtype: float64

english        9.775252
mathematics    8.720347
dtype: float64

In [9]:
# np.set_printoptions(precision=20, suppress=True)
# pd.options.display.float_format = '{:.2f}'.format
# import numpy as np
# # numpy float ì¶œë ¥ì˜µì…˜ ë³€ê²½
# np.set_printoptions(precision=3)

import numpy as np
# numpy float ì¶œë ¥ì˜µì…˜ ë³€ê²½
np.set_printoptions(formatter={'float_kind': lambda x: "{0:0.3f}".format(x)})

In [8]:
# í‘œì¤€í™” ê³„ì‚° (xset - xset.mean())/xset.std()

em_z
mt_z

students
A   -1.329889
B    1.432188
C    0.102299
D   -1.432188
E    0.204598
F   -0.716094
G    1.022992
H   -0.613795
I    1.022992
J    0.306897
Name: english, dtype: float64

students
A   -0.733916
B    0.986199
C   -0.963264
D   -0.963264
E    0.527502
F   -1.307287
G    1.100874
H   -0.619241
I    0.756851
J    1.215548
Name: mathematics, dtype: float64

2.7755575615628914e-17

-6.883382752675971e-16

1.0

1.0

### sklearnì„ ì´ìš©í•œ ìŠ¤ì¼€ì¼ë§ - ë¨¸ì‹ ëŸ¬ë‹ì„ìœ„í•´ ì“°ëŠ” ê²½ìš°ê°€ ëŒ€ë¶€ë¶„
- dfì˜ ê° ì—´ì— ëŒ€í•´ì„œ ìŠ¤ì¼€ì¼ë§í•˜ëŠ”ë° ì í•©í•¨

In [12]:

X = pd.DataFrame({"X1":[1, 2, 3, 4, 5],
    "X2": [10, 20, 30, 40, 50]})

X

   X1  X2
0   1  10
1   2  20
2   3  30
3   4  40
4   5  50

In [16]:

pd.DataFrame(Z)
Z.mean()
Z.std()

          0         1
0 -1.414214 -1.414214
1 -0.707107 -0.707107
2  0.000000  0.000000
3  0.707107  0.707107
4  1.414214  1.414214

0.0

0.9999999999999999

### MainMaxScaling

In [18]:
x1 = np.array([1, 2, 3, 4, 5])
x2 = x1 * 10

In [19]:


print(z1)
print(z2)

[0.000 0.250 0.500 0.750 1.000]
[0.000 0.250 0.500 0.750 1.000]

In [20]:
X

   X1  X2
0   1  10
1   2  20
2   3  30
3   4  40
4   5  50

In [21]:

pd.DataFrame(Z)

      0     1
0  0.00  0.00
1  0.25  0.25
2  0.50  0.50
3  0.75  0.75
4  1.00  1.00

#### í¸ì°»ê°’
- í‰ê· ì´ 50, í‘œì¤€í¸ì°¨ê°€ 10ì´ ë˜ë„ë¡ ì •ê·œí™”í•œ ê°’

In [22]:

z

            english  mathematics
students
A         35.981739    42.263848
B         65.096588    60.395454
C         51.078328    39.846301
D         34.903412    39.846301
E         52.156655    55.560359
F         42.451706    36.219980
G         60.783277    61.604227
H         43.530034    43.472622
I         60.783277    57.977906
J         53.234983    62.813001

In [23]:
result=pd.concat([scores,z], axis=1)
result.columns=['ì˜ì–´','ìˆ˜í•™','ì˜ì–´í¸ì°»ê°’','ìˆ˜í•™í¸ì°»ê°’']
result[['ì˜ì–´','ì˜ì–´í¸ì°»ê°’','ìˆ˜í•™','ìˆ˜í•™í¸ì°»ê°’']]

          ì˜ì–´      ì˜ì–´í¸ì°»ê°’  ìˆ˜í•™      ìˆ˜í•™í¸ì°»ê°’
students
A         42  35.981739  65  42.263848
B         69  65.096588  80  60.395454
C         56  51.078328  63  39.846301
D         41  34.903412  63  39.846301
E         57  52.156655  76  55.560359
F         48  42.451706  60  36.219980
G         65  60.783277  81  61.604227
H         49  43.530034  66  43.472622
I         65  60.783277  78  57.977906
J         58  53.234983  82  62.813001