## 공공데이터 API

- 제공하는 지자체, 정부부처마다 접근 url등이 상이함
    - 데이터 별로 필요 내용 확인
    - 요청변수 확인
    - 요청 url : 신청한 데이터의 상세설명에서 제공하고 있음

In [1]:
# 필요 모듈
import requests
from bs4 import BeautifulSoup
import pandas as pd

### 지역코드 조회 서비스

In [33]:
# 내 인증키
# key = 'NJZf0IxXtTO8vlgpcZ8TbyYzgziNOLkFbn8dWmvTRbx4AYWTjdPnpNd2nbroAcineXLi971rvGbpoy23qSMPmQ%3D%3D' # 인코딩 키
key = 'NJZf0IxXtTO8vlgpcZ8TbyYzgziNOLkFbn8dWmvTRbx4AYWTjdPnpNd2nbroAcineXLi971rvGbpoy23qSMPmQ==' # 디코딩 키
# key = 'vZMb5IJrlcFMcDN%2FjgtYVW%2FyM3AXwucnDgLoQWAK1%2B53coBmAlhC45jFsiKrWBHXg7zQ9pV6ARAiKCPUPN29%2Bw%3D%3D' # 강사님 키

In [34]:
m_os = 'ETC'
m_ap = 'AppTest'

In [39]:
# 요청 URL
endpoint = 'http://api.visitkorea.or.kr/openapi/service/rest/KorService/areaCode?'
skey = 'ServiceKey=' + key
param = '&MobileOS=' + m_os + '&MobileApp=' + m_ap + '&numOfRows=' + str(20)

url = endpoint + skey + param
url

'http://api.visitkorea.or.kr/openapi/service/rest/KorService/areaCode?ServiceKey=NJZf0IxXtTO8vlgpcZ8TbyYzgziNOLkFbn8dWmvTRbx4AYWTjdPnpNd2nbroAcineXLi971rvGbpoy23qSMPmQ==&MobileOS=ETC&MobileApp=AppTest&numOfRows=20'

In [40]:
result = requests.get(url)

In [37]:
result

In [41]:
result.content
bs_obj = BeautifulSoup(result.content, "html.parser")
bs_obj

<?xml version="1.0" encoding="UTF-8" standalone="yes"?><response><header><resultcode>0000</resultcode><resultmsg>OK</resultmsg></header><body><items><item><code>1</code><name>서울</name><rnum>1</rnum></item><item><code>2</code><name>인천</name><rnum>2</rnum></item><item><code>3</code><name>대전</name><rnum>3</rnum></item><item><code>4</code><name>대구</name><rnum>4</rnum></item><item><code>5</code><name>광주</name><rnum>5</rnum></item><item><code>6</code><name>부산</name><rnum>6</rnum></item><item><code>7</code><name>울산</name><rnum>7</rnum></item><item><code>8</code><name>세종특별자치시</name><rnum>8</rnum></item><item><code>31</code><name>경기도</name><rnum>9</rnum></item><item><code>32</code><name>강원도</name><rnum>10</rnum></item><item><code>33</code><name>충청북도</name><rnum>11</rnum></item><item><code>34</code><name>충청남도</name><rnum>12</rnum></item><item><code>35</code><name>경상북도</name><rnum>13</rnum></item><item><code>36</code><name>경상남도</name><rnum>14</rnum></item><item><code>37</code><name>전라북도</name><rnum>15</rnum></item><item><code>38</code><name>전라남도</name><rnum>16</rnum></item><item><code>39</code><name>제주도</name><rnum>17</rnum></item></items><numofrows>20</numofrows><pageno>1</pageno><totalcount>17</totalcount></body></response>

In [46]:
items = bs_obj.find('items')
item = items.findAll('item')
item

[<item><code>1</code><name>서울</name><rnum>1</rnum></item>,
 <item><code>2</code><name>인천</name><rnum>2</rnum></item>,
 <item><code>3</code><name>대전</name><rnum>3</rnum></item>,
 <item><code>4</code><name>대구</name><rnum>4</rnum></item>,
 <item><code>5</code><name>광주</name><rnum>5</rnum></item>,
 <item><code>6</code><name>부산</name><rnum>6</rnum></item>,
 <item><code>7</code><name>울산</name><rnum>7</rnum></item>,
 <item><code>8</code><name>세종특별자치시</name><rnum>8</rnum></item>,
 <item><code>31</code><name>경기도</name><rnum>9</rnum></item>,
 <item><code>32</code><name>강원도</name><rnum>10</rnum></item>,
 <item><code>33</code><name>충청북도</name><rnum>11</rnum></item>,
 <item><code>34</code><name>충청남도</name><rnum>12</rnum></item>,
 <item><code>35</code><name>경상북도</name><rnum>13</rnum></item>,
 <item><code>36</code><name>경상남도</name><rnum>14</rnum></item>,
 <item><code>37</code><name>전라북도</name><rnum>15</rnum></item>,
 <item><code>38</code><name>전라남도</name><rnum>16</rnum></item>,
 <item><code>39</code><name>제주도</name><rnum>17</rnum></item>]

In [50]:
item[0]
item[0].code.text
item[0].name # name이 태그 객체의 속성명이므로 . 로 접근 불가
item[0].find('name').text

'서울'

In [51]:
area_code = [ i.code.text for i in item]
area_code

['1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '31',
 '32',
 '33',
 '34',
 '35',
 '36',
 '37',
 '38',
 '39']

In [52]:
area_name = [ i.find('name').text for i in item]
area_name

['서울',
 '인천',
 '대전',
 '대구',
 '광주',
 '부산',
 '울산',
 '세종특별자치시',
 '경기도',
 '강원도',
 '충청북도',
 '충청남도',
 '경상북도',
 '경상남도',
 '전라북도',
 '전라남도',
 '제주도']

In [53]:
a_code = pd.DataFrame({'광역시도코드':area_code,
                      '광역시도명':area_name})
a_code

   광역시도코드    광역시도명
0       1       서울
1       2       인천
2       3       대전
3       4       대구
4       5       광주
5       6       부산
6       7       울산
7       8  세종특별자치시
8      31      경기도
9      32      강원도
10     33     충청북도
11     34     충청남도
12     35     경상북도
13     36     경상남도
14     37     전라북도
15     38     전라남도
16     39      제주도