In [1]:
#필요한 패키지(판다스, 넘피를 import 하고 pd,np로 별명을 만드시오
import pandas as pd
import numpy as np

#### 시리즈  문제

In [29]:
# 연습문제 1
# 임의로 두개의 시리즈 객체를 만든다.
# 모두 문자열 인덱스를가져야 하며 두 시리즈에 공통적으로 포함되지 않는 인덱스(라벨)가 있어야 한다. 
# 값과 시리즈 원소 개수도 임의 설정할 것

s1 = pd.Series([1,2,3],index=['a','b','c'])
s2 = pd.Series([1.0,2.0,3.0],index=['홍길동','이몽룡','성춘향'])
print(s1)
print(s2)

a    1
b    2
c    3
dtype: int64
홍길동    1.0
이몽룡    2.0
성춘향    3.0
dtype: float64

In [4]:
#연습문제 2 : 아래 시리즈 객체를 이용하여 사칙연산을 
#수행하고 결과를 출력하시오.
ex_s1 = pd.Series({'국어':95,'영어':80,'수학':75})
ex_s2 = pd.Series({'국어':95,'영어':80,'수학':75})

print(ex_s1 + ex_s2)

국어    190
영어    160
수학    150
dtype: int64

In [5]:
print(ex_s1 - ex_s2)

국어    0
영어    0
수학    0
dtype: int64

In [6]:
print(ex_s1 * ex_s2)

국어    9025
영어    6400
수학    5625
dtype: int64

In [7]:
print(ex_s1 / ex_s2)

국어    1.0
영어    1.0
수학    1.0
dtype: float64

In [8]:
#연습문제 3 : 아래 두 객체에 대하여 아래 제시된 연산을 수행하시오.
ex_s1 = pd.Series({'국어':95,'영어':80,'수학':75})
ex_s2 = pd.Series({'국어':95,'과학':80,'논술':75})

In [9]:
# - 연산을 수행하고 결과를 설명하시오
print(ex_s1 - ex_s2)

# ex_s1 시리즈와 ex_s2 시리즈를 연산하고자 할때 같은 index의 값인 국어의 경우 연산이 정상적으로 실행되었다.
# 하지만 '과학','논술','수학','영어' index의 경우 각 시리즈에 동일한 index가 없기때문에 연산을 진행할 수가 없다.
# 그래서 NaN값으로 처리되었다.

과학    NaN
국어    0.0
논술    NaN
수학    NaN
영어    NaN
dtype: float64

In [12]:
ex_s1.values - ex_s2.values
# 위 연산을 수행했을 때 출력되는 결과를 설명하시오

# 위 연산의 경우 values속성을 사용해 index를 제외하고 값만을 추출해 연산을 진행하게 된다.
# 따라서 [95,80,75],[95,80,75] 두 리스트 사이에서 동일 위치 원소들끼리 연산을 진행하게 된다.

array([0, 0, 0], dtype=int64)

In [16]:
# 연습문제 4
# 아래 데이터를 이용해서 시리즈 s를 생성하시오
    # 서울 : 9904312, 부산 : 3448737, 인천 : 2890451  대구 : 2466052    

s = pd.Series({'서울' : 9904312, '부산' : 3448737, '인천' : 2890451,  '대구' : 2466052})
s

서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int64

In [18]:
# 연습문제 5 :
#시리즈 s 변수의 인덱스를 출력해서 확인하고
#세번째 인덱스의 값을 라벨인덱스로 접근 후 출력하시오.
print(s.index)
s['인천']

Index(['서울', '부산', '인천', '대구'], dtype='object')

2890451

In [19]:
# 연습문제 6
#시리즈 s에 대하여 라벨(문자)인덱싱을 이용하고
#부산, 인천, 대구의 값을 추출하시오.

s[['부산','인천','대구']]

부산    3448737
인천    2890451
대구    2466052
dtype: int64

In [21]:
# 연습문제 7
#아래 데이터를 이용하여 시리즈를 생성하고 데이터 순서를 서울, 부산, 인천, 대전 으로 설정하시오 - 딕셔너리 활용
#   서울 9631482
#   부산 3393191
#   인천 2632035
#   대전 1490158

city = {'서울': 9631482
  ,'부산': 3393191
  ,'인천': 2632035
  ,'대전': 1490158}

s = pd.Series(city, index=['서울', '부산', '인천', '대전'])
s

서울    9631482
부산    3393191
인천    2632035
대전    1490158
dtype: int64

In [23]:
# 연습문제 8
# 위에서 생성한 시리즈에 인구 라는 이름을 설정하시오

s.name = '인구'
s

서울    9631482
부산    3393191
인천    2632035
대전    1490158
Name: 인구, dtype: int64

In [28]:
# 연습문제 9
# 위에서 생성한 시리즈의 인구수가 3000000 이상인 도시를 출력하시오

s[s>=3000000]

서울    11000000
부산     3393191
Name: 인구, dtype: int64

In [25]:
# 연습문제 10
# 위에서 생성한 시리즈의 서울 데이터를 11000000 으로 변경하세요

s['서울'] = 11000000
s

서울    11000000
부산     3393191
인천     2632035
대전     1490158
Name: 인구, dtype: int64

In [26]:
# 연습문제 11
# 대전 데이터를 삭제하세요

del s['대전']
s

서울    11000000
부산     3393191
인천     2632035
Name: 인구, dtype: int64

In [27]:
# 연습문제 12 
# 대구 데이터가 있는지 확인 하세요

'대구' in s

False